.skills{
    width: 100%;

    &__content__wrapper__inner-content{
        padding: 10px 0px;
        width: 50%;
        margin: 10px 0px;
        margin-left: 10px;
        h1{
            color: var(--yellow-theme-sub-text-color);
            font-size: 1.8rem;
        }
    }
}

@media only screen and (max-width : 768px){
    
    .skills__content__wrapper__inner-content{
        width: 80%;
        h1{
            font-size: 1.5rem;
        }
    }
}


@media only screen and (max-width : 768px){

    .skills{
        &.activeskills{
            margin-top: 300px;
        }
    }
}