.contact{
    &__content{
        padding: 20px;

        &__header-text{
            display: inline-block;
            color: white;
            font-size: 25px;
            font-weight: bold;
            line-height: 2rem;
            letter-spacing: 1px;
            position: relative;
            text-transform: uppercase;
            padding: 10px 10px;
            border-bottom: 2px solid var(--yellow-theme-main-color);

        }
        &__header-text::before, &__header-text::after{
            position: absolute;
            content: '';
            width: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom :-1px;
        }
        &__header-text::before{
            left : 0;
        }
        &__header-text::after{
            right: 0;
        }
        &__form{
            margin-top: 30px;

            &__controlWrapper{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 40px;
                margin-bottom: 30px;
                div{
                    position: relative;
                    .inputName, .inputEmail, .inputDescription{
                        width: 100%;
                        border: 2px solid var(--yellow-theme-main-color);
                        padding: 12px 12px;
                        position: relative;
                        background-color: transparent;
                        color: white;
                        transition: all 0.5s ease;
                    }
                    .nameLabel,.emailLabel, .descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top:7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: white;
                        font-size: 14px;
                    }
                    .inputName:focus, .inputEmail:focus, .inputDescription:focus{
                        outline: none;
                    }
                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel,
                    .inputEmail:focus + .emailLabel,
                    .inputEmail:valid + .emailLabel,
                    .inputDescription:focus + .descriptionLabel,
                    .inputDescription:valid + .inputDescription
                    {
                        font-size: 14px;
                        top: -25px;
                        left: 0px;

                    }
                }
            }
            button{
                cursor: pointer;
                padding: 10px 30px;
                font-size: 2rem;
                background: transparent;
                color: var(--yellow-theme-main-color);
                border: 1px solid var(--yellow-theme-main-color);
                border-radius: 6px;
                font-weight: 500;
                &:hover{
                    color: black;
                    background: var(--yellow-theme-main-color);
                }
            }
        }
    }
}

@media only screen and (max-width : 768px){
    
    .contact__content__form{
        text-align: center;
        &__controlWrapper{
            grid-template-columns: repeat(1,1fr);
            
        }
    }
}
@media only screen and (max-width : 768px){

    .contact{
        &.activecontact{
            margin-top: 300px;
        }
    }
}